<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--首先：需要配置 SpringContext 这个类 ，让spring将其装载进 spring 容器-->
    <!--<bean id="springContext" class="com.seven.manager.shop.commons.context.SpringContext" />-->

    <!--<bean id="userDao" class="com.seven.shop.dao.impl.UserDaoImpl" scope="singleton" />-->

    <!--<bean id="userService" class="com.seven.shop" scope="singleton" />-->

    <!--开启注解-->
    <context:annotation-config />
    <!--spring 扫描注解的包-->
    <!--springMVC中配置了扫描Controller 的注解 ,这里就排除扫描Controller任务 ：最小知识，单一职责原则-->
    <context:component-scan base-package="com.seven.shop">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>


</beans>
